<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:msxsl="urn:schemas-microsoft-com:xslt" exclude-result-prefixes="msxsl">
  <xsl:output method="xml" indent="yes"/>

  <!-- Default template -->
  <xsl:template match="node()|@*">
    <xsl:copy>
      <xsl:apply-templates select="node()|@*"/>
    </xsl:copy>
  </xsl:template>

  <xsl:template match="/configuration/connectionStrings/add[@name='ReportingEntities']">
    <add name="ReportingEntities" connectionString="metadata=res://*/VC_Reporting.csdl|res://*/VC_Reporting.ssdl|res://*/VC_Reporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adamsmv01\mssqlserver2008;initial catalog=Reporting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </xsl:template>
</xsl:stylesheet>
